/* Board styles */
.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
  width: 100%;
  /* Make the board width flexible */
  max-width: 500px;
  /* Maximum width for larger screens */
  margin: 0 auto;
  position: relative;
}

/* Cell styles */
.cell {
  color: black;
  width: 100%;
  /* Make the cell width flexible */
  padding-top: 100%;
  /* Maintain the aspect ratio */
  background-color: lightgoldenrodyellow;
  border: 1px solid darkgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Inner cell content for maintaining aspect ratio */
.cell-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .board {
    grid-template-columns: repeat(10, minmax(20px, 1fr));
    grid-template-rows: repeat(10, minmax(20px, 1fr));
    gap: 0.5px;
  }

  .cell {
    border: 0.5px solid darkgreen;
  }
}

.arrow {
  display: "flex";
  width: "100%";
  position: relative;
  opacity: 0.3;
  background-color: darkred;
}

.snake-cell {
  background-color: rgb(255, 0, 0);
}

.ladder-cell {
  background-color: lightgreen;
}

.image-board {
  background-image: url("/snl-board.jpg");
  background-size: contain;
  /* Scales the image to fit within the div without cropping */
  background-repeat: no-repeat;
  /* Ensures the background image does not repeat */
  background-position: top center;
  /* Aligns the image at the top and centers it horizontally */
  width: 100%;
  height: 100%;
  /* Let the height adjust automatically to maintain aspect ratio */
  max-height: 100vh;
  /* Ensure the image doesn't exceed the viewport height */
}

.circle {
  width: 43%;
  /* Adjust size as needed */
  height: 43%;
  /* Adjust size as needed */
  border-radius: 50%;
  position: absolute;
  /* Allows positioning within the cell-content div */
  visibility: hidden;
  border: 5px solid black;
}

.circle.playerq1 {
  top: 5%;
  left: 5%;
  background-color: white;
  border: 1px solid black;
}

.circle.playerq2 {
  top: 5%;
  right: 5%;
  background-color: white;
  border: 1px solid black;

}

.circle.playerq3 {
  bottom: 5%;
  left: 5%;
  background-color: white;
  border: 1px solid black;

}

.circle.playerq4 {
  bottom: 5%;
  right: 5%;
  background-color: white;
  border: 1px solid black;

}

.circle.player1 {
  top: 5%;
  left: 5%;
  background-color: darkorange;
  /* border: 5px solid black; */

}

.circle.player2 {
  top: 5%;
  right: 5%;
  background-color: violet;
  /* border: 5px solid black; */

}

.circle.player3 {
  bottom: 5%;
  left: 5%;
  background-color: rgb(194, 78, 78);
  /* border: 5px solid black; */

}

.circle.player4 {
  bottom: 5%;
  right: 5%;
  background-color: lightblue;
  /* border: 5px solid black; */

}

.circle-show {
  visibility: visible;
}

.game-row {
  display: flex;
  flex-wrap: wrap;
  /* Allows the buttons to wrap */
  gap: 10px;
  /* Adds spacing between buttons */
  justify-content: center;
}

.game-row1 {
  display: flex;
  flex-wrap: wrap;
  /* Allows the buttons to wrap */
  gap: 10px;
  /* Adds spacing between buttons */
  justify-content: center;
}

.game-row1>*:nth-child(n) {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  gap: 10px;
}

.player0 {
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;

}

.player1 {
  border-radius: 50%;
  border: 2px solid black;
  background-color: darkorange;

}

.player2 {
  border-radius: 50%;
  border: 2px solid black;
  background-color: violet;

}

.player3 {
  border-radius: 50%;
  border: 2px solid black;
  background-color: rgb(194, 78, 78);

}

.player4 {
  border-radius: 50%;
  border: 2px solid black;
  background-color: lightblue;

}

.player-turn {
  margin: 2px;
  padding: 2px;
  border-radius: 5%;
}

.game-info {
  justify-content: center;
  margin-left: 20px;
}

.table {
  /* width: 100%; */
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  white-space: nowrap;
}


.table tr:hover {
  background-color: #ddd;
}

.home {
  background-color: green;
}

.start {
  background-color: yellow;
}

.new-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-game .title {
  color: rgb(0, 0, 0);
  background-color: rgb(54, 151, 120);
  padding: 5px;
  border: 5px double white;
}