.container {
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: flex-start; /* Aligns the content at the top */
  height: 100vh; /* Full viewport height */
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
  width: 500px;
  margin: 0 auto;
  position: relative;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: lightgoldenrodyellow;
  border: 1px solid darkgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-arrow {
  display: "flex";
  background-color: maroon;
  color: magenta;
  width: "100%";
}
