.game-row {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
}

.square-margin {
    margin: 3px;
}

.new-game-button {
    background-color: paleturquoise;
}

.clicked {
    background-color: yellow;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    /* Optional: adds spacing between buttons */
    justify-content: center;
}

.button-container .button-row {
    width: 100%;
    display: flex;
    justify-content: center;
    /* Center the second row horizontally */
    gap: 10px;
}

.underscore {
    width: 20px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    color: lightskyblue;
    line-height: 30px;
}

.game-row1 {
    display: flex;
    flex-wrap: wrap;
    /* Allows the buttons to wrap */
    gap: 10px;
    /* Adds spacing between buttons */
    justify-content: center;
}



.game-row1>*:nth-child(n) {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    gap: 10px;
}