.game-row {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
}

.square-margin {
    margin: 3px;
}

.new-game-button {
    background-color: paleturquoise;
}